/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

body {
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

main {
	padding-top: 20px;
}

header {
	position: sticky;
	top: 0;
	z-index: 998;
	background-color: white;
	
} 

#scroll {
	height: 380px;
	overflow-y: auto;
	
}
#scroll::-webkit-scrollbar {
	background-color: transparent;
}



.nav-top {
	height: 95px;
}

 .middle-top a svg{
	background-color: #f72210;
	fill:white;
	margin: 10px 0px;
	height: 58px;
}

.middle-top,
.left-top,
.right-top{
	background-color: #f72210;
}

.subs-button {
	color: #f72210;
	padding: 2px 12px;
}

.subs-button:hover {
	text-decoration: none;
	color: #f72210;
}

.fa-bars {
	display: none;
}

.nav-bottom div ul li {
	font-size: 19px;
}

.label {
	bottom: 0;
	color: #f72210;
	padding: 5px 4px;
	cursor: pointer; 
}

.text {
	font-size: 19px;
}

.logo,
.slideshows-container span,
.editors-pick-container span {
	background: url(https://g.newsweek.com/www/images/logo-n1.svg) center/contain no-repeat #f72210;
	display: block;
    width: 29px;
	height: 28px;
	margin-right: 5px;
}
.featured-bottom .card-title a:hover {
	text-decoration: underline #f72210;
}

.top-story-bottom h4 a:hover {
	text-decoration: underline #f72210;
}

.culture-articles p {
	font-size: 14px;
}

.culture-travel-container {
	background-color: lightgray;
	padding: 5px 0px;
}

.more-article h6 a:hover {
	text-decoration: underline #f72210;
}

.opinion-text p  {
	line-height: 1;
	margin-bottom: 0;
}

.opinion-text p a:hover {
	color: #f72210 !important;
}

.opinion-text span {
	font-size: 11px;
}


.latest-news div p a:hover {
	color: #f72210 !important;
}

.latest-article a img {
	height: 90px;
	width: 135px;
}

.latest-news-container {
	width: unset;
}

.latest-news p {
	line-height: 1;
}

.signup div p a {
	font-size: 12px;
}

.magazine-pic div a:hover {
	color: #f72210 !important;
}

.magazine-aside p {
	padding: 4px;
}
.magazine-aside p:hover {
	background-color: darkgray;
}

.magazine-article .card-title {
	color: white;
	background-color: #f72210;
	padding: 1px 3px;
	text-align: center;
}

.magazine-article .card-body span a {
	color: #f72210;
	background-color: white;
	padding: 1px 3px;
	text-decoration: none;
}

.magazine-article .card-text a:hover {
	text-decoration: underline #f72210;
}

.editors-card .card a:hover {
	text-decoration: none;
	color: #f72210;
}

.editors-card h4 a:hover {
	text-decoration: underline #f72210;
}

.slideshows-cards h4 a:hover {
	text-decoration: underline #f72210;
}

.slideshows-cards .card div a {
	background: url(https://g.newsweek.com/themes/newsweek/images/icon-slideshows-nw.png) 0 0/contain no-repeat;
	padding:15px;
	text-align: center;
	width: 70px;
    height: 52px;
	display: block;
	font-size: 20px;
}

.slideshows-cards .card div a:hover {
	text-decoration: none;
	color: #f72210;
}

.slideshows-cards h4 {
	font-size: 22px;
}

.us-section h3 a {
	color: #f72210;
	font-size: 22px;
	text-decoration: none;
}

.us-cards h4 a:hover {
	text-decoration: underline #f72210;
}

.us-cards h4 a {
	font-size: 22px;
	line-height: 0;
}

.us-cards a img {
	width: 100%;
}

.us-article h5 a:hover {
	color: #f72210 !important;
}

.row .col-lg-4 h5,
.row .col-lg-8 h5 {
	color: #f72210;
	font-size: 16px;
}

.subscribe-section {
	padding: 23px;
	background-color: lightgray;
	height: 100%;
}

.newsletter-section {
	height: 100%;
}

.subscribe-section button,
.newsletter-section button {
	background-color: #f72210;
	outline: none;
}

.subscribe-section button:hover,
.newsletter-section button:hover {
	background-color: #da1c0b;
}

.newsletter-pic {
	background: url("https://d.newsweek.com/en/full/1541302/starting5-homepage.png?w=397&h=265&q=90&f=742bce9a6f72dd8f19ba2e7fd5db06e5") center center / cover no-repeat;
}

.second-pic {
	top: 20px;
	left: 70px;
	z-index:2;
}

footer {
	padding: 20px 0;
}

.footer-left a svg{
	background-color: white;
	fill:#f72210;
	margin: 10px 0px;
	height: 35px;
}

.footer-left p {
	margin-top: 30px;
	font-size: 12px;
	margin-bottom: 0;
}

.footer-right ul {
	margin-bottom: 0;
	margin-top: 20px;
	padding-left: 60px;
}
.footer-bottom a {
	font-size: 14px;
}

strong {
	font-size: 14px;
}

.editions ul {
	margin: 0;
}

.footer-right a {
	font-size: 25px;
}

@media only screen and (max-width: 991px) {
	body {
		margin-left: 0 !important;
		margin-right: 0 !important;
	}

	header .nav-bottom {
		display: none;
	}

	header div .nav-top .left-top {
		display: none !important;
	}

	.fa-bars {
		display: block;
		color: #fb9a94;
		font-size: 30px;
	}

	header .nav-top {
		height: 55px;
	}

	header .right-top {
		width: 50%;
	}

	header .middle-top {
		width: 50%;
		justify-content: start !important;
	}

	header .middle-top svg {
		left: 0;
		width: 150px;
    	height: 40px;
    	margin: 0;
	}

	aside .signup {
		margin: 0 auto !important;
		width: 50%;
		background-color: lightgray;
	}

	.magazine-aside .magazine-pic {
		margin-top: 78px;
	}

	.magazine-pic img {
		width: 85%;
	}

	.subscribe {
		margin-bottom: 20px;
	}

	.newsletter {
		margin-top: 15px;
		width: 100%;
	}

	.newsletter-section {
		padding-right: 0 !important;
		padding-left: 0 !important;
	}
}

@media only screen and (max-width: 768px){
	.featured-container {
		order: 2;
	}
	section {
		order: 1;
	}
	.opinion-news {
		order: 3;
	}
	
	.magazine-bottom .row,
	
	.magazine-top,
	.magazine-top .col-9,
	.magazine-top .col-9 .row {
		display: flex;
		flex-flow: column wrap;
	}
}
